@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p class="display-1 fw-bold">Ro's Biler</p>
    <p class="fst-italic mb-3">Så får du Ro på billeje</p>
    <img class="img-thumbnail p-3" src="~/images/Car.jpg" />
</div>
